#Body {
    background-color: lightslategray;
}

#Resume {
    position: absolute;
    background-color: #772A53;
    color: white;
    width: 1250px;
    height: 125px;
    text-align: center;
    font-size: 93px;
    font-style: italic;
}

#about_me_header {
    position: relative;
    background-color: #772A53;
    color: white;
    width: 1250px;
    height: 125px;
    text-align: center;
    font-size: 93px;
    font-style: italic;
    top: -100px;
}
#Graphic_Design {
    position: absolute;
    background-color: #772A53;
    color: white;
    width: 1250px;
    height: 125px;
    text-align: center;
    font-size: 93px;
    font-style: italic;
}
#Writing {
    position: relative;
    background-color: #772A53;
    color: white;
    width: 1250px;
    height: 125px;
    text-align: center;
    font-size: 93px;
    font-style: italic;
    top: 1000px;
}
#about-me-content {
    position: relative;
    font-family: sans-serif;
    top: -100px;
}

#
